body {
    font-family: "Times New Roman";
}

#image-container {
    position: relative;
    width: 200px;
    height: 150px;
    margin: 20px auto;
}

#editor-container {
    margin-top: 10px;
}

canvas {
    border: 1px solid black;
}