body {
    font-family: "Times New Roman";
}

#image-container {
    position: relative;
    width: 200px;
    height: 150px;
    margin: 20px auto;
}

#editor-container {
    margin-top: 10px;
}

canvas {
    border: 1px solid black;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width: 768px) {
        font-size: 18px;
    }

    @media (max-width: 480px) {
        font-size: 14px;
    }
}